{% extends 'basic.html' %}
{% block title %} <title>Company Profile </title> {% endblock %}

{% block body %}  
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"> go-Wain Profile!</h1>
      <hr>
      <p>E-commerce typically uses the web for at least a part of a transaction's life cycle although it may also use other technologies such as e-mail. Typical e-commerce transactions include the purchase of products (such as books from Amazon) or services (such as music downloads in the form of digital distribution such as iTunes Store).</p>
      <p>

        <h2>Littel Fact</h2>
        <hr>
        <p alian="">Modern electronic commerce typically uses the World Wide Web for at least one part of the transaction's life cycle although it may also use other technologies such as e-mail. Typical e-commerce transactions include the purchase of online books (such as Amazon) and music purchases (music download in the form of digital distribution such as iTunes Store), and to a less extent, customized/personalized online liquor store inventory services.[1] There are three areas of e-commerce: online retailing, electronic markets, and online auctions. E-commerce is supported by electronic business.[2] </p>
    </div>
  </div>
</main>

    <footer class="container">
  <p>&copy; Company 2020-2021</p>
    </footer>


{% endblock %}

{% block js %}
<script>

document.getElementById("profile").setAttribute("class", "nav-link active")

</script>
{% endblock js %}