{% extends 'basic.html' %}
{% block title %} <title> Electronics </title>{% endblock %}
 
  
{% block css %}
<style>
.navbar navbar-expand-lg navbar-dark bg-primary{

  position: fixed ;;
}
</style>
{% endblock %}

{% block body %}
     
      <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="#">Category</a></li>
          <li class="breadcrumb-item" aria-current="page">Products</li>
        </ol>
      </nav> -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href= "{% url 'shop:fashion' %}">Fashion</a></li>
          <li class="breadcrumb-item"><a href= "{% url 'shop:clothing' %}" >Clothing</a></li>
          <li class="breadcrumb-item"><a href= "{% url 'shop:electronics' %}"><b>Electronics</b></a></li>
          <li class="breadcrumb-item"><a href= "{% url 'shop:home_appliances' %}">Home Appliances</a></li>
          <li class="breadcrumb-item"><a href="{% url 'shop:automotive' %} ">Automotive</a></li>
        </ol>
      </nav>

      
<div class="row-md-1">
  <div class="row" id="row">
    {% for i in hello %}
    <div class="card container mt-1" style="width: 11rem;height: 11.5cm;" id="card">
      {% comment %} <img src='https://source.unsplash.com/random' class="card-img-top" style="height:125px" alt="...">
      {% endcomment %}
      <img src='/media/{{i.image}}' class="card-img-top" style="height:125px" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="prnamecart{{i.id}}">{{i.product_name}}</h5>
        <p class="card-text"><small>{{i.category}} <br>{{i.brand_name}}</small></p>
        <p class="card-text">₹<span id="prnamepricecart{{i.id}}">{{i.price}}</span></p>
      </div>
      <div class="row">
        <div style=padding-left:2px; class="col-sm-5">
          <a href="/product/{{i.id}}"><button style=height:2.1cm;width:95px;background-color:rgb(74,111,233);
              id="{{i.id}}" class="btn btn-primary">
              <b>Go to Details</b>
            </button></a>
        </div>
        <span id="spancart{{i.id}}" class="spancart">
          <button style=height:2cm;width:95px; id="cart{{i.id}}"
            class="btn btn-warning btn-outline-black ml-4 mb-2 cart">
            <h6>Add to Cart</h6>
          </button>
        </span>
      </div>
    </div>

    {% endfor %}
    <br><br><br>
  </div>
</div>
{% endblock body %}

{% block js %}
<script>
  document.getElementById("home").setAttribute("class","nav-link active")
  document.getElementById("nav").setAttribute("class","navbar navbar-expand-lg navbar-dark bg-primary")

  document.getElementById("home").setAttribute("class", "nav-link active")
  document.getElementById("nav").setAttribute("class", "navbar navbar-expand-lg navbar-dark bg-primary")


  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    // document.getElementById('cart').innerHTML = Object.keys(cart).length; 
    /* Iteam value in navbar cart Icon */
    updateaddtocartbutton(cart);
    // console.log("ih");
    // console.log(Object.keys);
    // console.log(Object.keys(cart));
    // console.log(Object.keys(cart).length);
    // console.log("ih");
  }

  // $('.cart').click(function () {
  $('.spancart').on("click", "button.cart", function () {
    console.log('clicked');
    var idstr = this.id.toString();
    // console.log(idstr);
    if (cart[idstr] == undefined) {
      // cart[cart1]
      qty = 1;
      // console.log(cart[idstr])
      // console.log(idstr)
      name = document.getElementById("prname" + idstr).innerHTML;
      price = document.getElementById("prnameprice" + idstr).innerHTML;
      // idstr value is cart1,cart2 and so on
      cart[idstr] = [qty, name, parseInt(price)];
      console.log(cart[idstr]);
      console.log(cart);
      // cart[idstr] = 1;
      // cart[idstr][1] = 1;
      // cart[idstr][0] == 1;
    }
    else {
      qty = cart[idstr][0] + 1;
    }
    updateaddtocartbutton(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
  });
      // cart[idstr] == [qty, name];
      // console.log(cart[idstr] + "..");
      // cart[idstr] = cart[idstr] + 1;
      // qty = qty + 1;
      // // else if (cart[idstr] == 0){
        // //   delete cart[idstr];
    // // }
    // else {
    //   // name = "my item"
    //   qty = cart[idstr][1] + 1;
    //   cart[idstr] = cart[idstr] + 1;
    // }

    // if (cart[idstr]!= undefined){
    //   qty = cart[idstr][0]+1;
    //   name="my item";
    //   cart[idstr] = cart[idstr]+1;
    // }
    // else{
    //   qty=1;
    //   name = "my item";
    //   cart[idstr] = [qty,name]
    // }
    // console.log("ok"+cart[idstr])
    // for(var item in cart){
    //   if (document.getElementById('val' + item).innerHTML == '<small>0</small>') {
    //     cart[idstr] == 0;
    //     delete cart[idstr];
    //   }
    //   if (cart[item]==0){
    //     localStorage.removeItem(item);
    //     console.log("ok"+item)
    // }
    // }
    // console.log(idstr);
    // console.log(Object.keys(cart[idstr]).length);
    // console.log(cart);


  // add popover
  // $('#popovercart').popover();
  // updatepopover(cart);
  // document.getElementById('popovercart').setAttribute('data-content', '<h5>Cart Items</h5>');


  function clearCart() {
    console.log("ccart")
    cart = JSON.parse(localStorage.getItem('cart'));
    for (var item in cart) {
      document.getElementById('span' + item).innerHTML = '<button style=height:2cm;width:95px; id="' + item + '" class="btn btn-primary ml-4 mb-2 cart"><h6>Add to Cart</h6></button>'
    }
    localStorage.clear();
    cart = {};
    localStorage.setItem("cart", JSON.stringify(cart))
    updatepopover(cart);
  }

  function updatepopover(cart) {
    // console.log("we r inside popover");
    var popstr = "";
    popstr = popstr + '<h5>Cart Items</h5><div class="mx-1 my-1">';
    var i = 1;
    // popover will not show qty:0 in popstring cart items for loop3
    for (var item in cart) {
      console.log(item)
      if (cart[item][0] == 0) {
        continue; 
      }
      else {
        popstr = popstr + '<b>' + i + "." + ' </b>' + document.getElementById('prname' + item).innerHTML + " " + document.getElementById('prnameprice' + item).innerHTML + " Qty: " + cart[item][0] + '<br>';
        i = i + 1;
        // console.log(popstr);
        // console.log(item);
        // console.log(document.getElementById('product_name' + item).innerHTML);
      }
    }
    // popstr = popstr + `</div><button class="btn btn-primary my-1 ml-2" id="clearcart" onclick="clearCart()">ClearCart</button>`
    popstr = popstr + `</div><div class="btn btn-primary my-1 ml-2" id="clearcart" onclick="clearCart()">ClearCart</div>`
    // <a href=/shop/checkout><button class="btn btn-primary ml-2">Checkout</button></a>';
    // popStr = popStr + "</div>";
    document.getElementById('popovercart').setAttribute('data-content', popstr);
    // $('#popovercart').popover();
    document.getElementById('popovercart').addEventListener("mouseover", function () {
      $('#popovercart').popover('show');
      document.getElementById("clearcart").addEventListener("click", clearCart)
      // document.getElementById('popovercart').addEventListener("mouseout", function () {
      //   $('#popovercart').popover('hide');
      // });
    });
  }
//  $('#clearcart').on("click", clearCart());
  function updateaddtocartbutton(cart) {
    // console.log("ok" + cart);
    var sum = 0;
    for (var item in cart) {
      sum = sum + cart[item][0];
      // console.log(cart[item]);
      // if (cart[item] == 0) {
      //   cart = cart - cart[item];
      //   continue;
      // }
      document.getElementById('span' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-warning btn-outline-black ml-2 minus'>-</button> <span id='val" + item + "'><small>" + cart[item][0] + "</small></span> <button id='plus" + item + "'class='btn btn-warning btn-outline-black plus'>+</button>";
      // if (cart[item] == 0) {
      // localStorage.removeItem(item);
      //   console.log("ok" + item)
      // }
      // if (document.getElementById('val' + item).innerHTML == 0) {
      //   document.getElementById('val' + item).innerHTML = '<button style=height:2cm;width:95px; id="' + item + '" class="btn btn-primary ml-4 mb-2 cart"><h6>Add to Cart</h6></button>';
      // }
      // if (cart[item] == 0) {
      //   cart = cart - cart[item];
      //   continue;
    }
    // cart = JSON.parse(localStorage.getItem('cart'));
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    // document.getElementById('cart').innerHTML = Object.keys(cart).length;
    // console.log(cart['ok'+item])
    updatepopover(cart);
    // console.log(Object.keys(cart).length);
  }

  // plus & minus button working
  $('.spancart').on("click", "button.minus", function () {
    console.log("minus clicked")
    a = this.id.slice(9,);
    console.log("pressed product id is " + a);

    cart['cart' + a][0] = cart['cart' + a][0] - 1;
    cart['cart' + a][0] = Math.max(0, cart['cart' + a][0]);
    document.getElementById('valcart' + a).innerHTML = cart['cart' + a][0]
    updateaddtocartbutton(cart);

    for (var item in cart) {

      // if (document.getElementById('val' + item).innerHTML == 0) {
      //   document.getElementById('val' + item).innerHTML = '<button style=height:2cm;width:95px; id="' + item + '" class="btn btn-primary ml-4 mb-2 cart"><h6>Add to Cart</h6></button>';
      // }
      if (document.getElementById('val' + item).innerHTML == '<small>0</small>') {

        document.getElementById('span' + item).innerHTML = '<button style=height:2cm;width:95px; id="' + item + '" class="btn btn-warning btn-outline-black ml-4 mb-2 cart"><h6>Add to Cart</h6></button>';
        delete (cart[item]);
        localStorage.setItem('cart', JSON.stringify(cart));

        // if (document.getElementById(item).innerHTML== 'Add to Cart'){
        // }
        // console.log(document.getElementById('val'+item).innerHTML+"ok")
        // let a = document.getElementsByClassName('spancart').innerHTML
        // localStorage.removeItem(cart);
        // console.log("cart[iteam] is "+cart[item]);
        // console.log("item is "+item);
        // console.log("o"+item[cart]);
      }
    }
    // console.log(a);
  });
  // updateaddtocartbutton(cart);

  $('.spancart').on("click", "button.plus", function () {
    console.log("plus clicked")
    a = this.id.slice(8,);
    console.log("pressed product id is " + a);
    cart['cart' + a][0] = cart['cart' + a][0] + 1;
    document.getElementById('valcart' + a).innerHTML = cart['cart' + a][0];
    updateaddtocartbutton(cart);
  });

  </script>

{% endblock js %}
