{% extends 'basic.html' %}
{% block title %}<title> Home </title> {% endblock %}

<style>
    .navbar navbar-expand-lg navbar-dark bg-primary {

        position: fixed;
        ;
    }

    #nav {

        animation-name: navcolor;
        animation-delay: 5s;
        position: fixed;
        top: 0;
    }

    @keyframes navcolor {
        from {
            background-color: blue;
        }

        to {

            background-color: red;
        }
    }
</style>
{% block css %}

{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="font-family: cursive;">
        <li class="breadcrumb-item"><a href="fashion/">Fashion</a></li>
        <li class="breadcrumb-item"><a href="clothing/">Clothing</a></li>
        <li class="breadcrumb-item"><a href="electronics/">Electronics</a></li>
        <li class="breadcrumb-item"><a href="home_appliances/">Home Appliances</a></li>
    </ol>
</nav>

<div class="row-md-1">
    <div class="row" id="row">
        {% for i in product %}
        <div class="card container mt-1" style="width: 11rem;height: 11cm;" id="card">
            <img src='/media/{{i.image}}' class="card-img-top" style="height:125px" alt="...">
            <div class="card-body">
                <h5 class="card-title" id="prnamecart{{i.id}}">{{i.product_name}}</h5>
                <p class="card-text"><small>{{i.category}} <br>{{i.brand_name}}</small></p>
                <p class="card-text">₹<span id="prnamepricecart{{i.id}}">{{i.price}}</span></p>
            </div>
            <div class="row">
                <div style=padding-left:2px; class="col-sm-5">
                    <a href="/product/{{i.id}}"><button style=height:2.1cm;width:95px;background-color:rgb(74,111,233);
                            id="{{i.id}}" class="btn btn-primary">
                            <b>Go to Details</b>
                        </button></a>
                </div>

                <span id="spancart{{i.id}}" class="spancart">
                    <button style=height:2cm;width:95px; id="cart{{i.id}}"
                        class="btn btn-warning btn-outline-black ml-4 mb-2 cart">
                        <h6>Add to Cart</h6>
                    </button>
                </span>
            </div>
        </div>

        {% endfor %}

    </div>
</div><br><br><br>

{% endblock %}
{% block js %}

<script>
    console.log("this is home 2")

    if (localStorage.getItem("cart") == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem("cart"))
    }
    updateaddtocartbutton(cart)
    // updatepopover(cart)


    // this will store localstorage entry onclick of add to cart
    $('.spancart').on("click", "button.cart", function () {
        // console.log("clicked")
        idstr = this.id.toString();
        // a = cart[idstr]
        // console.log(a)
        if (cart[idstr] == undefined) {
            // console.log("undefined")
            qty = 1;
            name = document.getElementById("prname" + idstr).innerHTML;
            price = document.getElementById("prnameprice" + idstr).innerHTML;
            // console.log(name)
            // console.log(price)
            cart[idstr] = [qty, name, price]
        }
         else {
            cart[idstr][0]++;
        }

        // This will create first entry in localstorage
        localStorage.setItem("cart", JSON.stringify(cart))
        updateaddtocartbutton(cart);
        // updatepopover(cart);

    });

    // this will change cart button into + and - sign button with qty on middle
    function updateaddtocartbutton(cart) {
        sum = 0
        for (var item in cart) {
            sum += cart[item][0]
            document.getElementById("span" + item).innerHTML = " <button id='minus" + item + "' class='btn btn-warning btn-outline-black ml-2 minus'>-</button> <span id='val" + item + "'><small>" + cart[item][0] + "</small></span> <button id='plus" + item + "'class='btn btn-warning btn-outline-black plus'>+</button>"
            // console.log(cart[item], "is cart length")
        }
        // document.getElementById("cart").innerHTML = sum
        // localStorage.setItem("cart", JSON.stringify(cart))
        updatepopover(cart)
    }

    function updatepopover(cart) {
        popstr = ' <h5>cart items</h5> '
        i = 1;
        // q = 0;
        for (var item in cart) {

            popstr += '<b>' + i + "." + ' </b>' + document.getElementById('prname' + item).innerHTML + " " + document.getElementById('prnameprice' + item).innerHTML + " Qty: " + cart[item][0] + '<br>';
            // q += cart[item][0];
            i++;
        }

        // If u put below then it shows count of main item but if u put q in below then it will show total quantity of all items
        document.getElementById("cart").innerHTML = Object.keys(cart).length
        popstr += ' <div type="button" class="btn btn-primary" id="clearcart">ClearCart</div> '
        document.getElementById("popovercart").setAttribute("data-content", popstr);
        document.getElementById("popovercart").addEventListener("mouseover", () => {
            $('#popovercart').popover('show');
            document.getElementById("clearcart").addEventListener("click", clearCart);
        });
        document.getElementById('popovercart').addEventListener("blur", () => {
            $('#popovercart').popover('hide');
        });
    }

    // This will clear cart and reload the page
    function clearCart() {
        console.log("press clearcart")
        localStorage.clear();
        window.location.reload();
    }

    // This will perform minus button click as well as handle zero and minus value
    $('.spancart').on("click", "button.minus", function () {
        console.log("a")
        a = this.id.slice(5,);
        console.log(a)
        console.log(cart[a][0])
        cart[a][0] = cart[a][0] - 1;
        cart[a][0] = Math.max(0, cart[a][0]);
        localStorage.setItem("cart", JSON.stringify(cart));
        document.getElementById("val" + a).innerHTML = `<small>${cart[a][0]}</small>`;
        for (var item in cart) {
        if (document.getElementById("val" + item).innerHTML == '<small>0</small>') {
            document.getElementById("span" + item).innerHTML = `<button style="height:2cm;width:95px;" id="${item}" class="btn btn-warning btn-outline-black ml-4 mb-2 cart"><h6>Add to Cart</h6></button>`
            delete (cart[item]);
            localStorage.setItem("cart", JSON.stringify(cart));
        }
        }
        // updateaddtocartbutton(cart)
        updatepopover(cart)
    });
    $('.spancart').on("click", "button.plus", function () {
        a = this.id.slice(4,)
        console.log(a)
        cart[a][0] = cart[a][0] + 1;
        document.getElementById("val" + a).innerHTML = `<small>${cart[a][0]}</small>`;
        localStorage.setItem("cart", JSON.stringify(cart));
        updatepopover(cart)
        // updateaddtocartbutton(cart)
    })
        // for (var item in cart) {
            // document.getElementById("val" + item).innerHTML

        // }
    // }
    // function plus(cart) {
    //     console.log("plus clicked")
    // }


</script>


{% endblock %}