{% extends 'home.html' %}
{% comment %} {% block title %}{% endblock title %}
{% block css %} {% endblock %}
{% block body %}
<body> <h5>asefsrfes</h5></body>
<!-- <div style="margin-top:10px;margin-left:25%;background: powderblue;border: solid black; width:auto;max-width:600px"
    class="container"> -->
    <!-- <form action="home/" method="POST"> {% csrf_token %}
        <h2 style="margin-left: 230px;">Login</h2>
        <span style="margin-left: 100px;">Please fill in this form to create an account.</span>
        <hr>

        <label for="email"><b>Username</b></label>
        <input style="height: 30px;width: 40%;" type="text" placeholder="Enter Email" name="username" required><br>


        <label for="psw"><b>Password</b></label>
        <input style="height: 30px;width: 40%;margin-top: 20px;" type="password" placeholder="Enter Password" name="psw"
            required><br>

            <div class="forgot password"><u>Forgot Password?</u></div><br>
            
            <div class="clearfix">
                <button onclick="document.location = '/signup';" style="padding: 1px 15px;" type="button" class="cancelbtn">
                    <h5>SignUp</h5>
                </button>
                <button id="login" style="padding: 1px 15px;" type="submit" class="signupbtn">
                    <h5>Login</h5>
                </button><br><br>
            </div>
        </form> -->
        <!-- </div> -->




     

        {% endblock %}
{% comment %} <script>
    let bg = document.getElementById("login")
    bg.addEventListener("click", func1)

    function func1(e) {
        document.body.className.replace("navbar navbar-expand-lg navbar-dark bg-dark")
    }

</script>  {% endcomment %}

